JavaSecurity/Weblogic/CVE_2015_4852/weblogic/base_domain/servers/AdminServer/tmp/_WL_internal/wls-wsat/54p17w/war/WEB-INF/wsdls/wsat10/wsat.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions targetNamespace="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:s2="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/">
  <s0:types>
    <xs:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" schemaLocation="addressing.xsd"/>
      <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/10/wsat" schemaLocation="wsat.xsd"/>
    </xs:schema>
  </s0:types>
  <s0:message name="Prepare">
    <s0:part element="s1:Prepare" name="parameters"/>
  </s0:message>
  <s0:message name="Prepared">
    <s0:part element="s1:Prepared" name="parameters"/>
  </s0:message>
  <s0:message name="Aborted">
    <s0:part element="s1:Aborted" name="parameters"/>
  </s0:message>
  <s0:message name="ReadOnly">
    <s0:part element="s1:ReadOnly" name="parameters"/>
  </s0:message>
  <s0:message name="Commit">
    <s0:part element="s1:Commit" name="parameters"/>
  </s0:message>
  <s0:message name="Rollback">
    <s0:part element="s1:Rollback" name="parameters"/>
  </s0:message>
  <s0:message name="Committed">
    <s0:part element="s1:Committed" name="parameters"/>
  </s0:message>
  <s0:message name="Replay">
    <s0:part element="s1:Replay" name="parameters"/>
  </s0:message>
  <s0:message name="PrepareResponse">
    <s0:part element="s1:PrepareResponse" name="parameters"/>
  </s0:message>
  <s0:message name="ReplayResponse">
    <s0:part element="s1:ReplayResponse" name="parameters"/>
  </s0:message>
  <s0:portType name="CompletionCoordinatorPortType">
    <s0:operation name="CommitOperation">
      <s0:input message="s1:Commit" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Commit"/>
    </s0:operation>
    <s0:operation name="RollbackOperation">
      <s0:input message="s1:Rollback" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Rollback"/>
    </s0:operation>
  </s0:portType>
  <s0:portType name="CompletionInitiatorPortType">
    <s0:operation name="CommittedOperation">
      <s0:input message="s1:Committed" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Committed"/>
    </s0:operation>
    <s0:operation name="AbortedOperation">
      <s0:input message="s1:Aborted" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Aborted"/>
    </s0:operation>
  </s0:portType>
  <s0:portType name="CoordinatorPortType">
    <s0:operation name="PreparedOperation">
      <s0:input message="s1:Prepared" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Prepared"/>
    </s0:operation>
    <s0:operation name="AbortedOperation">
      <s0:input message="s1:Aborted" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Aborted"/>
    </s0:operation>
    <s0:operation name="ReadOnlyOperation">
      <s0:input message="s1:ReadOnly" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/ReadOnly"/>
    </s0:operation>
    <s0:operation name="CommittedOperation">
      <s0:input message="s1:Committed" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Committed"/>
    </s0:operation>
    <s0:operation name="ReplayOperation">
      <s0:input message="s1:Replay" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Replay"/>
    </s0:operation>
  </s0:portType>
  <s0:portType name="ParticipantPortType">
    <s0:operation name="Prepare">
      <s0:input message="s1:Prepare" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Prepare"/>
    </s0:operation>
    <s0:operation name="Commit">
      <s0:input message="s1:Commit" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Commit"/>
    </s0:operation>
    <s0:operation name="Rollback">
      <s0:input message="s1:Rollback" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Rollback"/>
    </s0:operation>
  </s0:portType>
  <s0:portType name="CompletionPortTypeRPC">
    <s0:operation name="Commit">
      <s0:input message="s1:Commit" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Commit"/>
      <s0:output message="s1:Committed" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Committed"/>
    </s0:operation>
    <s0:operation name="Rollback">
      <s0:input message="s1:Rollback" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Rollback"/>
      <s0:output message="s1:Aborted" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Aborted"/>
    </s0:operation>
  </s0:portType>
  <s0:portType name="ParticipantPortTypeRPC">
    <s0:operation name="PrepareOperation">
      <s0:input message="s1:Prepare" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Prepare"/>
      <s0:output message="s1:PrepareResponse" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/PrepareResponse"/>
    </s0:operation>
    <s0:operation name="CommitOperation">
      <s0:input message="s1:Commit" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Commit"/>
      <s0:output message="s1:Committed" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Committed"/>
    </s0:operation>
    <s0:operation name="RollbackOperation">
      <s0:input message="s1:Rollback" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Rollback"/>
      <s0:output message="s1:Aborted" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Aborted"/>
    </s0:operation>
  </s0:portType>
  <s0:portType name="CoordinatorPortTypeRPC">
    <s0:operation name="ReplayOperation">
      <s0:input message="s1:Replay" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Replay"/>
      <s0:output message="s1:ReplayResponse" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/ReplayResponse"/>
    </s0:operation>
    <s0:operation name="AbortedOperation">
      <s0:input message="s1:Aborted" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/Aborted"/>
    </s0:operation>
    <s0:operation name="ReadOnlyOperation">
      <s0:input message="s1:ReadOnly" s2:Action="http://schemas.xmlsoap.org/ws/2004/10/wsat/ReadOnly"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="CoordinatorPortTypeSOAPBinding" type="s1:CoordinatorPortType">
    <s3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="PreparedOperation">
      <s3:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/PreparedOperation" style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
      </s0:input>
    </s0:operation>
    <s0:operation name="AbortedOperation">
      <s3:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/AbortedOperation" style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
      </s0:input>
    </s0:operation>
    <s0:operation name="ReadOnlyOperation">
      <s3:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/ReadOnlyOperation" style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
      </s0:input>
    </s0:operation>
    <s0:operation name="CommittedOperation">
      <s3:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/CommittedOperation" style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
      </s0:input>
    </s0:operation>
    <s0:operation name="ReplayOperation">
      <s3:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/ReplayOperation" style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
      </s0:input>
    </s0:operation>
  </s0:binding>
  <s0:binding name="ParticipantPortTypeSOAPBinding" type="s1:ParticipantPortType">
    <s3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="Prepare">
      <s3:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Prepare" style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
      </s0:input>
    </s0:operation>
    <s0:operation name="Commit">
      <s3:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Commit" style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
      </s0:input>
    </s0:operation>
    <s0:operation name="Rollback">
      <s3:operation soapAction="http://schemas.xmlsoap.org/ws/2004/10/wsat/Rollback" style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
      </s0:input>
    </s0:operation>
  </s0:binding>
  <s0:service name="WSAT10Service">
    <s0:port binding="s1:CoordinatorPortTypeSOAPBinding" name="CoordinatorPortTypePort">
      <s3:address location="http://www.oracle.com"/>
    </s0:port>
    <s0:port binding="s1:ParticipantPortTypeSOAPBinding" name="ParticipantPortTypePort">
      <s3:address location="http://www.oracle.com"/>
    </s0:port>
  </s0:service>
</s0:definitions>